/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


/* Container */
.container {
  width: 80%;
  margin: 40px auto;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgb(0, 0, 0, 0.2);
  min-height: 1000px; 
}


/* Table */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: #d3d3d3;
 
}

td, th {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}


a {
  color: #0d2c61;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

body {
  min-height: 100vh;
  overflow-y: scroll; /* Always show vertical scrollbar */
}