body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  margin-top: 50px;
  padding: 40px;
  background-color: #f4f7f9;
}

.std-reg-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 240px;
  padding: 20px 80px;
}

.std-reg-form-left {
  flex: 1;
  max-width: 500px;
  margin-top: 40px;
}

.std-reg-form-left h2 {
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  color: #1e2a5e;
  margin-bottom: 30px;
}

.std-reg-form-left .input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.std-reg-form-left .input-row input[type="text"] {
  flex: 1; /* Make both inputs share equal width */
}

.std-reg-form-left input {
  padding: 14px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.std-reg-form-left .dropdown-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.std-reg-form-left select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  color: #888;
  font-size: 16px;
  box-sizing: border-box;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231E2A5E'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
}
.std-reg-form-left select:focus {
  border: 2px solid #344aad;
}
.std-reg-form-left .submit-btn {
  background-color: #1e2a5e;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.std-reg-form-right {
  flex: 1;
  max-width: 600px;
  margin-left: 0;
}

.std-reg-form-right .image-placeholder {
  max-width: 600px;
  height: 450px;
  background-color: #ddd;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.std-reg-form-right .image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
