@import url("variable.css");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.home-hero-container {
  height: 800px;
  overflow: hidden;
}

.home-hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-section {
  margin-bottom: 40px;
  padding: 20px 0;
}
.home-section h3 {
  color: var(--text-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1.5rem 5rem;
}
.courses-container {
  display: flex;
  justify-content: space-evenly;
}
.home-section p {
  color: var(--text-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 1.5rem 5rem;
}
.home-subject-buttons {
  display: flex;
  gap: 15px;
  padding: 15px 0;
  white-space: nowrap;
  margin-left: 5rem;
}
.home-subject-btn {
  padding: 8px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
.home-subject-btn:hover {
  color: #131516;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 2px;
}
.home-subject-btn:active {
  color: #131516;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.home-subject-result {
  width: 100%;
  height: 687px;
  flex-shrink: 0;
  background: #f4f7fa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-scroll-btn-left,
.home-scroll-btn-left {
  width: 66px;
  height: 61px;
  background-color: #f4f7fa;
  border: none;
}
.home-testimonials {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
}
.home-comment-section {
  display: flex;
  justify-content: space-evenly;
}
.home-comment {
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  gap: 20px;
}

.home-comment svg {
  width: 40px;
  height: 40px;
  fill: #555;
}

.home-comment p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

.home-comment img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.home-comment h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.home-cta-section {
  width: 100%;
  height: 381px;
  flex-shrink: 0;
  background: #f4f7fa;
}
.home-cta-section p {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 4rem;
}
.home-institute {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.ellipse {
  width: 128px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #878383;
}

.ellipse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
