
    <div class="home-hero">

    </div>
    <div>
        <h3>Level Up Your Learning with Expert-Led Classes</h3>
        <p>Join live or online classes and build skills that matter — from school subjects to exam prep and beyond.</p>
        
    </div>
    <div>
        <h3>Your A/L Journey Starts Here</h3>
        <p>Browse A/L classes by subject and stream. Get ready with trusted Sri Lankan educators.</p>
        <form method="GET" action="">
            <select name="subject" onchange="this.form.submit()">
                <option value="Physics">Physics</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Mathematics">Mathematics</option>
                <option value="ICT">ICT</option>
                <option value="Accounting">Accounting</option>
                <option value="Economics">Economics</option>
                <option value="Business_Studies">Business Studies</option>
                <option value="Media">Media</option>            
                <option value="Political_Science">Political Science</option>             
            </select>
        </form>
        <div>

        </div>
    </div>
    <div>
         <h3>See what others are achieving through learning</h3>
    </div>
    <div>
        <p>Browse A/L classes by subject and stream. Get ready with trusted Sri Lankan educators.</p>    
    </div>
